@import "../../../styles/helpers.scss";

footer.footer {
  max-width: 1366px;
  width: 100%;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 1px 20px 0 rgba(159, 156, 177, 0.84);
  background-color: #000;
  margin-bottom: 34px;

  display: grid;
  grid-template-columns: 1fr 2fr 2fr;

  .media {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 180px;

    .logo {
      @include center;
      display: flex;
      margin-bottom: 50px;

      flex-direction: column;
      .image {
        position: relative;
        width: 70px;
        height: 70px;
      }

      .name {
        h1 {
          text-shadow: 0 0 5px #b40000;
          font-size: 1.1rem;
          font-weight: 600;
          color: #fff;
        }
      }
    }

    .social-media {
      display: inline-block;
      .text {
        margin-bottom: 20px;

        p {
          font-size: 1rem;
          font-weight: normal;
          letter-spacing: 1.5px;
          color: #fff;

          span {
            color: $main-orange;
          }
        }
      }

      .icons {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        a {
          width: 25px;
          height: 25px;

          &:nth-child(2) {
            width: 28px;
            height: 28px;
          }

          &:hover {
            color: $main-orange;
          }

          svg {
            width: 100%;
            height: 100%;
            transition: 0.2s ease all;
          }
        }
      }
    }
  }

  ul.orar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
    margin-top: 34px;

    li.orar-row {
      display: grid;
      grid-template-columns: minmax(90px, 100px) minmax(150px, 160px);
      column-gap: 20px;

      .day {
        text-align: end;

        p {
          font-size: 1rem;
          font-weight: normal;
          letter-spacing: 1.5px;
          color: $main-orange;
        }
      }

      .program {
        display: flex;

        p {
          font-size: 1rem;
          font-weight: normal;
          letter-spacing: 1.5px;
          color: #fff;

          &:nth-child(2) {
            color: $main-orange;
            padding: 0 10px;
          }
        }
      }
    }
  }

  .map {
    .presentation {
      display: flex;
      justify-content: space-between;
      padding: 0 0px 20px 0px;

      .str {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 1rem;
          font-weight: normal;
          letter-spacing: 1.5px;
          color: #fff;
        }

        svg {
          color: $main-orange;
        }
      }

      .country {
        p {
          font-size: 1rem;
          font-weight: normal;
          letter-spacing: 1.5px;
          color: #fff;
        }
      }
    }

    .map-wrapper {
      height: 300px;
    }
  }
}

@media (max-width: 1400px) {
  footer.footer {
    width: 94%;
  }
}

@media (max-width: 1250px) {
  footer.footer {
    .media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 26px;

      .social-media {
        @include center;
        flex-direction: column;
      }
    }

    .map {
      .presentation {
        flex-direction: column;
        align-items: center;
      }

      .map-wrapper {
        height: 200px;
      }
    }
  }
}

@media (max-width: 900px) {
  footer.footer {
    grid-template-columns: 1fr 1fr;

    .media {
      margin-top: 0;
    }

    ul.orar {
      margin-top: 0;
    }

    .map {
      margin-top: 40px;
      grid-column: 1 / 3;
    }
  }
}

@media (max-width: 550px) {
  footer.footer {
    grid-template-columns: 1fr;

    ul.orar {
      align-items: center;
      margin-top: 40px;
    }

    .map {
      grid-column: 1 / 2;
    }
  }
}
